/*Colors*/
//$primary : #233f57;
$primary : #fff;
$primary_rgb : rgb(138, 158, 179);
$primary_dark : #122230;
$primary_light : #526e86;


$secondary: #ed5a37;
$heading_Heading_color: #38215d;
$secondary_dark: #bf3f21;
$secondary_light: #fe9076;

$heading_color: #233f57;

$body_color: #222528;

/*breakpoints*/

$xl_min: 1200px;
$xl_max: 1199px;

$lg_min: 992px;
$lg_max: 991px;

$md_min: 768px;
$md_max: 767px;

$sm_min: 576px;
$sm_max: 575px;


/*Colors*/
$bg_header: #f7921e;
$link_color: $bg_header;
$card_bg_color: #cc2dc3;

